.taskCard{
    overflow: hidden;
    background-color: white;
    padding: .5rem  1rem;
    width: 100%;
    min-width: 200px;
    margin: 5px 0;
    animation: appear ease 1s ;
}
    .titleContainer{
        display: flex;
        align-items: center;
    }
    .buttonsContainer{
        display: flex;
    }
    .buttonsEditContainer{
        display: flex;
        flex-direction: column;
    }
        .buttonsEditContainer > button{
            border: none;
            outline: none;
            cursor: pointer;
            color: var(--button-color);
            border-radius: var(--border-radius);
            background-color: var(--button-background-color);
            height: 28px;
            padding: 5px;
            margin-top: .5rem;
        }
        .title{
            font-weight: 600;
        }
        .editIcon{
            cursor: pointer;
            width: 16px;
            height: 16px;
            margin: 6px;
        }
        .deleteIcon{
            cursor: pointer;
            width: 18px;
            height: 18px;
            margin: 5px;
        }
        .editButton{
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            width: 28px;
            height: 28px;
            border-radius: var(--border-radius);
            background-color: var(--button-background-color);
            margin-left: .25rem;
        }
        .deleteButton{
            text-align: center;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            user-select: none;
            font-weight: 900;
            width: 28px;
            height: 28px;
            border-radius: var(--border-radius);
            background-color: var(--button-background-color);
            margin-left: .25rem;
            font-size: 1rem;
        }
.date{

}
.owner{
    margin: .5rem 0;   
}
.statusContainer{
    display: flex;
}   
    .priorityLow{
        margin-right: .3rem;
        padding: .3rem;
        background-color: var(--priority-low);
        border-radius: var(--border-radius);
        border: none;
        color: var(--button-color);
    }
    .priorityMedium{
        margin-right: .3rem;
        padding: .3rem;
        background-color: var(--priority-medium);
        border-radius: var(--border-radius);
        border: none;
        color: var(--button-color);
    }
    .priorityHigh{
        position: relative;
        margin-right: .3rem;
        padding: .3rem;
        background-color: var(--priority-high);
        border-radius: var(--border-radius);
        border: none;
        color: var(--button-color);
    }
    .stateNew{
        margin-right: .3rem;
        padding: .3rem;
        background-color: var(--state-new);
        border-radius: var(--border-radius);
        border: none;
        color: var(--button-color);
    }
    .stateProgress{
        margin-right: .3rem;
        padding: .3rem;
        background-color: var(--state-progress);
        border-radius: var(--border-radius);
        border: none;
        color: var(--button-color);
    }
    .stateFinished{
        margin-right: .3rem;
        padding: .3rem;
        background-color: var(--state-finished);
        border-radius: var(--border-radius);
        border: none;
        color: var(--button-color);
    }

.description{
    width: 100%;
    margin: .5rem 0; 
}
.showMoreButton{
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    color: var(--button-background-color);
    font-size: 1rem;
}

/*Edit UI*/
.firstLineContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
    .firstLineContainer > h4{
        border-radius: var(--border-radius);
        font-weight: 400;
        font-size: 15px;
    }
    .titleInput{
        display: flex;
        outline: none;
        border: var(--input-border);
        border-radius: var(--border-radius);
        padding: 7px 10px;
        font-size: 1rem;
    }
    .selectContainer{
        margin-right: 1rem;
        margin-bottom: .5rem;
    }
    .descriptionInput{
        display: flex;
        outline: none;
        resize: none;
        border: var(--input-border);
        border-radius: var(--border-radius);
        width: 100%;
        padding: .5rem;
    }


@keyframes appear {
    from{
        opacity: .1;
    } to{
        opacity: 1;
    }
}
