.taskCard{
    overflow: hidden;
    background-color: white;
    padding: .5rem  1rem;
    width: 100%;
    min-width: 200px;
    margin: 5px 0;
    animation: appear ease 1s ;
}
.firstLineContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .titleContainer{
        display: flex;
        align-items: center;
    }
    .buttonsContainer{
        display: flex;
    }
        .title{
            font-weight: 600;
        }
        .editIcon{
            cursor: pointer;
            width: 16px;
            height: 16px;
            margin: .4rem;
        }
        .deleteIcon{
            cursor: pointer;
            width: 20px;
            height: 20px;
            margin: .4rem;
        }
        .editButton{
            display: flex;
            align-items: center;
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            background-color: var(--button-background-color);
            margin-left: .25rem;

        }
        .deleteButton{
            text-align: center;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            user-select: none;
            font-weight: 900;
            width: 28px;
            height: 28px;
            border-radius: 100%;
            color: var(--button-color);
            background-color: var(--button-background-color);
            margin-left: .25rem;
            font-size: 1rem;
        }
.date{
    margin: 2px;
}
.owner{
    margin: 2px;    
}
.statusContainer{
    display: flex;
}   
    .priority,
    .state{
        margin-right: .3rem;
        padding: .3rem;
        background-color: var(--button-background-color);
        border-radius: var(--border-radius);
        border: none;
        color: var(--button-color);
    }

.description{
    overflow: hidden;
}

@keyframes appear {
    from{
        opacity: .1;
    } to{
        opacity: 1;
    }
}