.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin: 1rem 1rem 0 1rem;
    padding: 0 1rem;
}
.createTasksContainer{
    width: 90%;
    min-width: 250px;
    background-color: var(--card-background-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
}
.tasksContainer{
    width: 90%;
    min-width: 250px;
    min-height: 100vh;
    margin: 1rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
}
.statusList{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
}
    .statusList > article > h4{
        text-align: center;
        font-size: 1.3rem;
    }
    .new,
    .process,
    .finished{
        display: block;
        flex-wrap: wrap;;
        list-style: none;
        padding: .5rem;
        margin: .5rem;
        border-radius: var(--border-radius);
    }

@media screen and (min-width: 1200px){
    .container{
        max-width: 1400px;
        margin: auto;
    }
    .createTasksContainer{
        width: 30%;
    }
    .tasksContainer{
        width: 70%;
    }
}
@media screen and (min-width: 1000px){
    .createTasksContainer{
        width: 50%;
        margin: 1rem .5rem 1rem 1rem;
    }
    .tasksContainer{
        width: 50%;
        margin: 1rem 1rem 1rem .5rem;
    }
    .container{
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
}